@import 'variables';
@import 'reset';

body {
  margin: 0;
  font-family: $openSans;
}

header {
  background: $darkPurple;
  padding: 10px;
  text-align: center;
  #main-header {
    position: relative;
    padding: 5px 0 20px 0;
    font-size: 1.6em;
    color: $white;
    span {
      color: $teal;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 25%;
      border-bottom: 1px solid $darkGrey;
    }
  }
  #name {
    padding: 10px 0 0 0;
    font-size: 0.9em;
    color: $white;
    font-weight: $bold;
  }
}

.challenge-name {
  position: relative;
  margin-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 25%;
    border-bottom: 1px solid $lightGrey;
  }
}

section {
  border: 1px solid $lightGrey;
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
}

.tab-header {
  margin: 0;
  padding: 15px;
  border: 1px solid $white;
  font-size: 1.4em;
  color: $darkGrey;
  background: $offWhite;
  font-weight: $light;
  cursor: pointer;
  &:after {
    content: "+";
    float: right;
  }
}

.tabs {
  display: none;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  background: $white;
  img {
    width: 100%;
    height: 150px;
    background: $offWhite;
  }
  h2 {
    width: 90%;
    margin: 20px auto;
    padding-bottom: 10px;
    font-size: 1.3em;
    font-weight: $bold;
    border-bottom: 1px solid $lightGrey;
  }
  p {
    width: 90%;
    margin: 0 auto 15px auto;
    font-size: 0.8em;
    line-height: 24px;
  }
}
.show-header {
  background: $white;
  border-bottom: 1px solid $lightGrey;
  font-weight: $bold;
  &:after {
    content: "-"
  }
}
.show-tab {
  display: block;
}

#code-btn {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 0 auto 20px auto;
  padding: 15px 0;
  background: $darkPurple;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 550px) {
  section {
    position: relative;
    display: flex;
    max-width: 900px;
    border: none;
    article {
      width: calc(100% / 4);
    }
    .tabs {
      max-height: 365px;
      padding-bottom: 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      img {
        width: calc(100% / 2  - 30px);
        height: 100%;
        margin: 15px;
      }
      .text-wrapper {
        float: right;
        width: calc(100% / 2);
        max-height: 335px;
        overflow: auto;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 0.9em;
      }
    }
  }
  .tab-header {
    height: 20px;
    border-bottom: 1px solid $lightGrey;
  }
  .show-tab {
    display: block;
    position: absolute;
    left: 0;
    border: 1px solid $lightGrey;
    border-top: none;
  }
  .show-header {
    border: 1px solid $lightGrey;
    border-bottom: 1px solid transparent;
  }
  #code-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}