/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

header {
  background: #2F2235;
  padding: 10px;
  text-align: center; }
  header #main-header {
    position: relative;
    padding: 5px 0 20px 0;
    font-size: 1.6em;
    color: #FFF; }
    header #main-header span {
      color: #34D1D1; }
    header #main-header:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 25%;
      border-bottom: 1px solid #666666; }
  header #name {
    padding: 10px 0 0 0;
    font-size: 0.9em;
    color: #FFF;
    font-weight: 600; }

.challenge-name {
  position: relative;
  margin-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase; }
  .challenge-name:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 25%;
    border-bottom: 1px solid #D1D2D3; }

section {
  display: flex;
  flex-direction: column;
  border: 1px solid #D1D2D3;
  width: 90%;
  max-width: 900px;
  margin: 50px auto; }

.tab-header {
  margin: 0;
  padding: 15px;
  border: 1px solid #FFF;
  font-size: 1.4em;
  color: #666666;
  background: #F2F2F2;
  font-weight: 300;
  cursor: pointer; }

article {
  display: none;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  background: #FFF; }
  article img {
    width: 100%;
    height: 150px;
    background: #F2F2F2; }
  article h2 {
    width: 90%;
    margin: 20px auto;
    padding-bottom: 10px;
    font-size: 1.3em;
    font-weight: 600;
    border-bottom: 1px solid #D1D2D3; }
  article p {
    width: 90%;
    margin: 0 auto;
    font-size: 0.8em;
    line-height: 24px; }

.show-header {
  background: #FFF;
  border-top: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
  font-weight: 600; }
  .show-header:first-child {
    border-top: 1px solid transparent; }

.show-tab {
  display: flex; }
