body {
  margin: 0;
  background-color: #bada55; }

.show {
  display: flex; }

section {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
  margin: 50px auto; }

h1 {
  border: 1px solid lightgray;
  margin: 0;
  padding: 10px;
  background: #FFF;
  text-align: center; }

article {
  display: none;
  width: 100%;
  height: 500px;
  background: #FFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  article img {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
